.login__container {
  width: 100vw;
  height: calc(100vh - 4rem);

  .login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    .remaining {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .login__image__cotainer {
    height: calc(100vh - 4rem);
    overflow: hidden;
  }

  .image {
    width: 1200px;
    object-fit: cover;
    height: 100%;
    filter: brightness(0.1) grayscale(1);
  }
}
