@use "../../../index.scss" as var;
@use "../../../styles/breakpoints.scss" as *;

.category {
  background-color: transparent;
  perspective: 1000px;

  height: 9.25rem;
  width: 50%;
  cursor: pointer;

  .flip__card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transition-delay: 0.15s;
    transform-style: preserve-3d;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .category:hover,
  .flip__card:hover {
    transform: rotateY(180deg);
  }

  .flip__card__front,
  .flip__card__back {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip__card__front {
    background-color: var.$orange;
    color: black;
  }

  .flip__card__back {
    background-color: var.$purple;
    color: var.$white;
    transform: rotateY(180deg);

    padding: 0.8rem;

    h4 {
      line-height: 1.2rem;
    }
  }

  @include sm {
    height: 9rem;
    width: 25%;
  }

  @include lg {
    height: 7rem;
    width: 16.6%;
  }
}
