@use "../../../index.scss" as var;
@use "../../../styles/breakpoints.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 2.5rem;
  width: 100%;
  padding: 2rem;

  background-color: var.$very-dark;

  .header__logo {
    color: var.$orange;
    font-family: "Sora";
    text-decoration: none;
  }

  .header__nav {
    display: none;
    align-items: center;

    > * {
      max-height: 2.125rem;
      color: var.$white;
      text-decoration: none;
      padding: 0.5rem 1rem;

      &:hover {
        color: var.$orange;
      }
    }

    div:has(a) {
      padding: 0;
    }

    .box {
      margin: 0 0.75rem;
      border: 0.1px var.$white solid;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.4s;

      color: var.$white;
      text-decoration: none;
      padding: 0.5rem 1rem;

      &:hover {
        color: var.$very-dark;
        background-color: var.$white;
      }
    }
  }

  .header_menu {
    color: var.$white;
  }

  @include sm {
    .header__nav {
      display: flex;
    }

    .header_menu {
      display: none;
    }
  }
}
