.bookcover__container {
  width: 14rem;

  .image__container {
    width: 14rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .secondary_info {
    margin-bottom: 1.25rem;

    ul {
      list-style: none;
    }

    span {
      font-weight: 900;
    }

    small {
      line-height: 20px;
    }

    li {
      margin: 0.375rem 0;
    }
  }
}
