@use "../../index.scss" as var;

.categories_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 42.125rem;
  width: 100%;

  > h2 {
    margin-bottom: 14px;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }
}
