@use "../../index.scss" as var;

.home_page {
  min-height: 100%;

  .home_body {
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    display: flex;
    align-items: center;

    margin-bottom: 2.5rem;

    :first-child {
      position: absolute;
      padding: 0 0 20px 6px;
      color: rgba(var.$dark-color, 0.8);
    }

    .search__input {
      // width: 30rem;
      height: 2.5rem;
      padding: 0 2.5rem;

      background-color: transparent;
      border-radius: 20px;
      outline: none;
      border: var.$dark-color 1.5px solid;

      &::placeholder {
        color: rgba(var.$very-dark, 0.6);
      }
    }
  }

  .line {
    width: 100vw;
    line-height: 1em;
    height: 1.5em;
    margin-bottom: 2rem;

    position: relative;
    text-align: center;

    outline: 0;
    border: 0;
    color: var.$very-dark;
    opacity: 0.7;

    &:before {
      content: "";
      background: linear-gradient(
        to right,
        transparent,
        var.$very-dark,
        transparent
      );
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 3px;
    }

    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: var.$dark-color;

      padding: 0 0.5em;
      line-height: 1.5em;
      color: var.$white;
      background-color: var.$very-dark;
    }
  }
}
