@use '../../index.scss' as var;

#home_page {
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    .search {
        display: flex;
        align-items: center;

        margin-bottom: 25px;

        :first-child {
            position: absolute;
            padding: 0 0 20px 6px;
            color: rgba(var.$dark-color, .8);
        }
    }
}