@use "../../index.scss" as var;
@use "../../styles/breakpoints.scss" as *;

.footer {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  padding: 1.25rem 1rem;
  z-index: 40;

  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: var.$very-dark;
  color: var.$white;

  .footer__link {
    font-size: 0.925rem;
    cursor: pointer;
    color: var.$white;
    text-decoration: none;
  }

  @include sm {
    gap: 2rem;
  }

  @include md {
    display: flex;
    gap: 3rem;
  }

  @include lg {
    gap: 3.5rem;
  }
}
