@use '../../../index.scss' as var;

.footer {
    height: 54px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    background-color: var.$very-dark;
    
    .footer__nav {
        display: flex;
        color: var.$white;
        
        .footer__link {
            margin: 0 2rem;
            font-size: .925rem;
            cursor: pointer;
            color: var.$white;
            text-decoration: none;
        }
    }
}