@use "../../../index.scss" as var;

.footer {
  min-height: 54px;
  width: 100%;
  position: relative;
  padding: 2rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: var.$very-dark;
  color: var.$white;

  .footer__link {
    font-size: 0.925rem;
    cursor: pointer;
    color: var.$white;
    text-decoration: none;
  }
}
