@use '../../../index.scss' as var;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0;

    height: 54px;
    width: 100vw;
    
    background-color: var.$very-dark;
    
    nav {
        display: flex;
        color: var.$light-color;
        
        .footer__link {
            margin: 0 2rem;
            font-size: .925rem;
            cursor: pointer;
            color: var.$light-color;
            text-decoration: none;
        }
    }
}