@use "../../../index.scss" as var;

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.8rem;

  width: 48em;
  padding: 2rem;

  h1 {
    color: var.$dark-color;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .registration__inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;

    > * {
      margin-right: 2rem;
      margin-bottom: 0.5rem;
      width: 18em;
    }
  }

  .registration__footer {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  #service__terms {
    display: flex;
    align-items: center;

    h3 {
      margin-left: 0.8rem;
      line-height: 1.2rem;
    }

    a {
      color: var.$link;
    }
  }
}
