.login__container {
    width: 100vw;
    height: 100vh;

    .login {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        overflow: hidden;
        
        .remaining {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .login__image__cotainer {
        height: calc(100vh - 4rem);
    }
    
    .image {
        height: 100%;
        filter: brightness(.1) grayscale(1);
    }
}
