.login {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .remaining {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.image {
    height: 100vh;
    position: relative;
    filter: brightness(.1) grayscale(1) sepia(70%) hue-rotate(-100deg);

}