@use "../../../../index.scss" as var;

.moredetails__container {
  width: 100%;
  background-color: var.$very-dark;
  color: var.$white;
  border-radius: 8px;

  margin-bottom: 3.5rem;
  padding: 2rem;

  .moredetails__topic {
    color: var.$white;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
  }

  h4 {
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
    color: var.$orange;

    .moredetails__metadata {
      color: rgba(var.$white, 0.8);
      margin-right: 0.25rem;
    }
  }
}
