@use '../../../../index.scss' as var;

.moredetails__container {
    width: 100%;
    height: 400px;
    background-color: var.$very-dark;
    color: var.$white;

    padding: 2rem;

    .moredetails__topic {
        color: var.$white;
        font-weight: 600;
        font-size: 1.125rem;
        margin-bottom: 1.75rem;
    }

    h4 {
        margin-bottom: .5rem;
        font-size: .9rem;
        color: var.$orange;

        .moredetails__metadata {
            color: rgba(var.$white, .8);
            margin-right: .25rem;
        }
    }

}