@use 'index.scss' as var;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var.$very-dark;
}

*::-webkit-scrollbar-thumb {
  background-color: var.$light-blue;
}