.registration {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    .remaining_signup {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#lib_img {
    height: 100vh;
    position: relative;
}
